<h1 class="titulo">Cadastrar Produto</h1>

<form nz-form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
    <div nz-row nzGutter="16">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
            <div nz-col nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="18" nzXXl="12">
                <nz-form-item>
                    <nz-form-label>Nome do Produto</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor, informe um nome!">
                      <input type="text" nz-input formControlName="nomeProduto">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <div class="preco-produto" nz-row nzGutter="16">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
            <div nz-col nz-col nzXs="8" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
                <nz-form-item>
                    <nz-form-label>Preço do Produto</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor, informe um preço!">
                      <input type="text" nz-input formControlName="precoProduto" placeholder="R$"
                      currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <button class="btn-cadastrar" nz-button nzType="primary">Cadastrar</button>
    <button class="btn-cancelar" nz-button nzType="default" (click)="cancelar()" >Cancelar</button>
</form>

